@charset "UTF-8";

.my-space-nav {
    width: 1140px;
    height: 80px;
    margin: 0 auto;
    align-items: center;
    margin-top: 30px;
}

.my-space-nav > ul{
    display: flex;
    justify-content: space-between;
}

.my-space-nav > ul > li > a {
    width: 220px;
    height: 50px;
    background-color: white;
    border: 3px solid #22007F;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #22007F;
}

.my-space-nav > ul > li:nth-child(1) > a {
    background-color: #22007F;
    color: white;
    font-weight: bold;
}

.my-space-nav > ul > li > a:hover {
    background-color: #22007F;
    color: white;
    font-weight: bold;
}

.selling-product {
    width: 1140px;
    height: auto;
    margin: 0 auto;
}

.my-space-nav-title {
    width: 1140px;
    height: 50px;
    border-bottom: 1px solid #D1D1D1;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.my-space-nav-title > h2 {
    margin-right: 15px;
}

.my-space-nav-title > p {
    color: #22007F;
    font-weight: bold;
}

.myspace-cards-wrap {
    width: 1140px;
	clear:both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 30px;
}

.myspace-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.myspace-card:nth-child(5n) {
    margin-right: 0px;
}

.myspace-card-photo {
	width: 220px;
    height: 220px;
}

.myspace-card-photo-img {
	position: absolute;
    width: 220px;
    height: 220px;
    border: 1px solid #707070;
    border-radius: 25px;
}

.myspace-card-photo-img img {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myspace-card-textbox {
    width: 220px;
    padding-top: 15px;
}

.myspace-card-text {
    width: 220px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.myspace-card-title {
    width: 208px;
    font-size: 18px;
}

.myspace-card-info {
    width: 208px;
}

.myspace-card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.myspace-card-info :first-child {
    font-size: 16px;
    align-items: flex-end;
}

.myspace-card-text :last-child {
    font-size: 12px;
    align-items: flex-end;
}

.paging {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.paging li a {
    padding: 5px 10px;
    border-radius: 50%;
}
.pageActive {
	background-color: #22007F;
	color: white;
}