@charset "UTF-8";

@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');

* {
	color: #707070;
	font-family: 'NanumSquare', sans-serif;
	font-size: 16px;
}

#wrapinfo{
	width: 1200px;
	height : 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
}

.wrap-login-logo{
    margin-top: 100px;
    margin-bottom: 50px;
}
.info{
    border: 1px solid #707070;
    border-radius: 11px;
    width: 600px;
    height: 900px;  
}
/*아이디*/
.inputinfo #userId{
	border: 1px solid #707070;
    border-radius: 11px;
    width: 295px;
    height: 50px;
    margin: 40px 10px 15px 75px;
	padding: 10px;
}

#chkId {
	width: 140px;
    height: 50px;
    background-color:#22007F;
    border: 1px solid #22007F;
    border-radius: 11px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

#userNickName{
	border: 1px solid #707070;
    border-radius: 11px;
    width: 295px;
    height: 50px;
    margin: 0 10px 15px 75px;
    padding: 10px;
}
/*닉넥임*/
#chkNickName {
	width: 140px;
    height: 50px;
    background-color: #22007F;
    border: 1px solid #22007F;
    border-radius: 11px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
/*비밀번호*/
.inputinfo #userPassword{
	border: 1px solid #707070;
    border-radius: 11px;
    width: 450px;
    height: 50px;
    margin: 0 75px 5px 75px;
    padding: 10px;
}
.inputinfo #userPasswordcheck{
	border: 1px solid #707070;
    border-radius: 11px;
    width: 450px;
    height: 50px;
    margin: 0 75px 15px 75px;
    padding: 10px;
}
input[type="password"] {
	font-family : "Nanum Gothic", sans-serif !important;
}
input[type="password"]::placeholder {
	font-family : NanumSquare;
}

/*이름*/
.inputinfo #userName{
	border: 1px solid #707070;
    border-radius: 11px;
    width: 295px;
    height: 50px;
    margin: 0 10px 15px 75px;
    padding: 10px;
}

select::-ms-expand {
    display: none;
}

input:focus {
	outline: none;
}

#userGender, #userYear, #userMonth, #userDay, #userEmail2, #userAgency, #userPhone:focus {
	outline: none;
}
/*성별*/
.inputinfo #userGender{
	border: 1px solid #707070;
    border-radius: 11px;
    width: 140px;
    height: 50px;   
    padding: 10px;
    background: url('../../../resources/images/board/arrow.png') no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/*생일*/
.inputinfo #userYear{
	border: 1px solid #707070;
    border-radius: 11px;
    width: 140px;
    height: 50px;
    margin: 0 10px 15px 75px;
    padding: 10px;
    background: url('../../../resources/images/board/arrow.png') no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.inputinfo #userMonth{
	border: 1px solid #707070;
    border-radius: 11px;
    width: 140px;
    height: 50px;
    margin-right: 10px;
    padding: 10px;
    background: url('../../../resources/images/board/arrow.png') no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.inputinfo #userDay{
	border: 1px solid #707070;
    border-radius: 11px;
    width: 140px;
    height: 50px;
    padding: 10px;
    background: url('../../../resources/images/board/arrow.png') no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/*이메일*/
.inputinfo #userEmail{
	border: 1px solid #707070;
    border-radius: 11px;
    width: 295px;
    height: 50px;
    margin: 0 10px 15px 75px;
    padding: 10px;
}
.inputinfo #userEmail2{
	border: 1px solid #707070;
    border-radius: 11px;
    width: 140px;
    height: 50px;
    padding: 10px;
    background: url('../../../resources/images/board/arrow.png') no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/*휴대폰 인증*/
.inputinfo #userAgency{
	border: 1px solid #707070;
    border-radius: 11px;
    width: 110px;
    height: 50px;
    margin: 0 10px 5px 75px;
    padding: 10px;
    background: url('../../../resources/images/board/arrow.png') no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.inputinfo #userPhone{
	border: 1px solid #707070;
    border-radius: 11px;
    width: 170px;
    height: 50px;
    padding: 10px;
}

#sendNum {
	width: 140px;
    height: 50px;
    background-color:#22007F;
    border: 1px solid #22007F;
    border-radius: 11px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.inputinfo #userNumber{
	border: 1px solid #707070;
    border-radius: 11px;
    width: 295px;
    height: 50px;
    margin: 0 10px 15px 75px;
    padding: 10px;
}
.inputinfo .number{
    width: 140px;
    height: 50px;
    background-color: #22007F;
    border: 1px solid #22007F;
    border-radius: 11px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
/*주소*/
.inputinfo #userAddress{
	border: 1px solid #707070;
    border-radius: 11px;
    width: 450px;
    height: 50px;
    margin: 0 75px 5px 75px; 
    padding: 10px;   
}
.inputinfo #userPostcode{
	border: 1px solid #707070;
    border-radius: 11px;
    width: 295px;
    height: 50px;
    margin: 0 10px 30px 75px;
    padding: 10px;
}
.inputinfo .address{
    width: 140px;
    height: 50px;
    background-color:#22007F;
    border: 1px solid #22007F;
    border-radius: 11px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
   
}
.inputinfo .join{
    width: 450px;
    height: 50px;
    background-color:#22007F;
    border: 1px solid #22007F;
    border-radius: 11px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 0 75px 0 75px;
}
/*사용가능한, 불가능한 아이디 div*/
.userId_div{
	margin: 30px 9px 0px 82px;
}

/*비밀번호 체크 이미지*/
#greenchk {
	/* position : absolute; */
	width : 30px;
	top : 330px;
}
#redchk {
	/* position : absolute; */
	width : 30px;
	top : 403px;
}
#greenchk2{
	/* position : absolute; */
	width : 30px;
	top : 403px;
}



