@charset "UTF-8";

@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');

* {
	color: #707070;
	font-family: 'NanumSquare', sans-serif;
}

#wrapjoinAgree {
	width: 1200px;
	height : 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
}

.wrap-login-logo {
    margin-top: 100px;
    margin-bottom: 50px;
}

.joinAgree-box {
    border: 1px solid #707070;
    border-radius: 11px;
    width: 600px;
    height: 770px;
    
}

.joinAgree-text {
    margin: 110px 75px 60px 75px;
    font-weight: bold;
    font-size: 20px;
} 

#join-agreement{
    margin: 0 75px;
}

.join-box {
    width: 450px;
    /* border: 1px solid#707070; */
}

.join-top {
    width: 450px;
    border-bottom: 1px solid #D1D1D1;
}

.join-agreement-text {
    padding: 10px 0 25px 25px;
    font-size: 14px;
    line-height: 18px;
    color: #707070;
}

.join-content {
    margin-top: 25px;
}

input[type=checkbox] { 
    display:none; 
}

input[type=checkbox] + label { 
    cursor: pointer; 
    line-height: 22px; 
    padding-left: 25px; 
    background: url('../../../resources/images/board/checkbox.png') no-repeat; 
    font-size: 18px;
}

input[type=checkbox]:checked + label { 
    background: url('../../../resources/images/board/checkbox_checked.png') no-repeat; 
}

.join-box > ul > li{
    display: inline-block;
    
}

.checkAllBtn {
	display: flex;
    align-items: center;
}

.checkBtn {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn {
    width: 450px;
    height: 50px;
    background-color:#22007F;
    color: #fff;
    border-radius: 11px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 75px;
    cursor: pointer;
}