@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration : none;    
}
#wraplogin{
	width : 1200px;
	padding: 0 360px 100px 360px;
	margin: 0 auto;
}
.wrap-login-logo{
    margin: 30px 150px;
}
.wrap-login {
    width: 450px;
}
.wrap-login .login-box #loginform{
    width: 450px;
    height: 270px;
    border: 1px solid;
    border-radius: 5px;

}
.wrap-login .login-box #loginform .login{
    width: 370px;
    height: 90px;
    margin: 30px 40px 15px 40px;
}
input[type="text"] {
   width: 370px;
   height: 45px;
   border-radius: 3px;
}

input[type="password"] {
    width: 370px;
    height: 45px;
    border-radius: 3px;
    
}
.wrap-login .login-box #loginform .login-status{
    margin-left: 40px;
    margin-bottom: 25px;
}
.wrap-login .login-box #loginform #submit{
    background-color:#22007F;
    width: 370px;
    height: 50px;
    text-align: center;
    margin-left: 40px;
    font-size: 20px;  
    border-radius: 5px;  
}
span{
	color: #fff;
}
.wrap-login .login-box .login-option{
	width :1200px;
    margin: 20px 70px 50px 55px;  
}
.wrap-login .login-box .login-option ul li{
    display: inline-block;
    text-align : center;
    padding: 0 8px;
    
}
.wrap-login .login-box .social-login{
    display: flex;
    overflow: hidden;
}
.wrap-login .login-box .social-login ul li{
    padding: 10px 0;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size :25px;
}
.wrap-login .login-box .social-login ul li img{
    width: 24.5px;
    height: 25px;
    margin: 0 65px 0 20px;
}
.google{
	color: #fff;
	background-color: #F46055;
	width: 450px;
    height: 50px;
    
}
.naver{
	color: #fff;
	background-color: #04CF5C;
	width: 450px;
    height: 50px;
}
.kakao{
	color: #fff;
	background-color: #FFCD00;
	width: 450px;
    height: 50px;
}