@charset "UTF-8";

body {
	background-color: white;
}

.board-detail-wrap {
	padding: 30px;
}

.board-detail-wrap h2 {
	font-size: 25px;
    text-align: center;
}

.board-detail-wrap table {
	width: 100%;
    margin: 30px 0;
}

.board-detail-wrap table td:first-child {
	background-color: #22007F;
	color: white;
}

.board-detail-wrap table td {
	padding: 10px;
}

.notify-content h3 {
	font-size: 20px;
}

.notify-content p {
	padding: 20px 0;
    border: 1px solid gray;
    margin: 20px 0;
}

.btn-wrap {
	text-align: center;
}