@charset "UTF-8";


.board-list-wrapper {
    width: 1200px;
    height : auto;
    margin: 0 auto;
    margin-top: 145px;
}

.category-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 40px;
}

.category-page-top {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.board-category {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    align-items: center;
}

.board-category > h2 {
    font-size: 20px;
    font-weight: bold;
    align-items: flex-end;
    padding-right: 10px;
}

.board-category > h2:last-child {
    color: #22007F;
}

.sort {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.sort-by {
    opacity: 0;
}

.sort > label {
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label{
    font-weight: bold;
    color: #22007F;
}

.cards-wrap {
    width: 1200px;
	clear:both;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.card-photo {
	width: 228px;
    height: 228px;
    position: relative;
}

.card-photo-img {
    width: 228px;
    height: 228px;
    /* background-color: #D1D1D1; */
    border-radius: 25px;    
/*     background-image: url('../../resources/images/board/product_image.png'); */
/*     background-size: cover; */
/*    border: 1px solid #707070;*/
}

.card-photo-img > img {
	width: 228px;
    height: 228px;
    border-radius: 25px;
    border: 1px solid #707070;
}

.card-heart {
    position: absolute;
    width: 30px;
    height: 27px;
    background-image: url('../../resources/images/board/heart_empty.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

.card-heart.active {
    position: absolute;
    width: 30px;
    height: 27px;
    background-image: url('../../resources/images/board/heart_full.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    right: 10px;
    bottom: 10px;
}

.card-textbox {
    width: 228px;
    padding-top: 15px;
}

.card-text {
    width: 228px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    width: 208px;
    font-size: 18px;
}

.card-info {
    width: 208px;
}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-info :first-child {
    font-size: 16px;
    align-items: flex-end;
}

.card-text :last-child {
    font-size: 12px;
    align-items: flex-end;
}

.page {
    margin: 0 auto;
    text-align: center; 
    width: 100%;
    margin-top: 80px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
    align-items: center;
}

.pagination li {
    display: inline;
    text-align: center;
}

.pagination a {
    float: left;
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #707070;
    font-size: 16px;
    line-height: 15px;
}

.first:hover, .last:hover, .left:hover, .right:hover {
    color: #22007F;
}

.pagination a.active {
    color: #ffffff;
    background-color: #22007F;
    border-radius: 50%;
}

.pagination a:active {
    outline: none;
}

.modal .num {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    align-items: center;
}

.modal .num:hover {
    background-color: #22007F;
    color: #ffffff;
}

.modal .num.active, .modal .num:active {
    background-color: #22007F;
    cursor: pointer;
    font-weight: bold;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #22007F; 
}