@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration : none;    
}
#wrapClient{
    width: 1200px;
    margin: 0 auto;
    padding-top: 145px;
}
.customerService{
    width: 1200px;
    height: 250px;
    background-color: #FFF092;
}
.client {
    width: 780px;
    margin: 0 auto;
}
.client h3{
	font-size: 20px;
	font-weight: bold;
	color: #222;
    text-align: center;
    padding: 38px 0 26px 0;
}


.box1 {
	display: flex;
	width: 780px;
	justify-content: space-between;
	padding-bottom: 15px;
	margin: 0 auto;
}
#cs_category_select {
	font-size: 14px;
	width: 140px;
	height: 40px;
	border-radius: 10px;
	text-align: center;
	margin-right: 20px;
}
#cu_title {
	font-size: 14px;
	width: 620px;
	height: 40px;
	border-radius: 10px;
	padding: 10px;
}
.box2 {
	padding-bottom: 15px;
}
#cu_content {
	font-size: 14px;
	width: 780px;
	height: 380px;
	border-radius: 10px;
	padding: 10px;
	margin: 0 auto;
}
.box5 {
	display: flex;
	justify-content:flex-end;
	margin-bottom: 20px;
}

.box5 > div > button {
	font-size: 16px;
	font-weight: 600;
	width:100px;
	height:40px;
	border: 2px solid #22007F;
	border-radius: 15px;
	color: #22007F;
	background-color: #fff;
	margin-left: 20px;	
}
.box5 > div > button:hover {
	color: #fff;
	background-color: #22007F; 
}
.active {
	display: block;
}