@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration : none;    
}
#wrapcs{
    width: 1200px;
    margin: 0 auto;
}
.customerService{
    width: 1200px;
    height: 250px;
    background-color: #FFF092;
}
.customerService h3{
    text-align: center;
    padding-top: 55px;
}
.customerService p{
    text-align: center;
    font-weight: bold;
    margin-bottom: 41px;
}
.cs-search {
    width: 360px;
    height: 40px;
    border-radius: 100px;
    border: solid 3px #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    text-align: center;
    margin: 0 420px;
}
.search-bar-input {
    width: 350px;
    border: none;
    text-align: left;
    margin-left: 10px;
    overflow: auto;
    z-index: -1;
    font-size: 15px;
}
.search-bar-input:focus {
    outline: none;
    width: 350px;
    text-align: left;
}
.fa-search {
    font-size: 15px;
    color: #707070;
    padding-right: 20px;
}
.FAQ {
	width: 1200px;
    text-align: center;
    width: 1200px;
}
.FAQ h3{
    margin: 42px 0 26px 0;
    font-size: 20px;
    font-weight: bold;
}
.FAQ ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
    justify-content: space-around;
}
.FAQ ul li{
    width: 220px;
    height: 50px;
    line-height: 44px;
    font-size: 18px;
    font-weight: bold;
    color: #22007F;
    border-radius: 5px;
    border: 3px solid #22007F;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 15px;
}
.FAQ ul li:hover a{
	background-color: #22007F;
	color: #FFFFFF;
}
.FAQ ul li a {
	display:block;
}
#faq_hr {
	margin-top: 15px;
	border: 1px solid #ddd;
	height: 1px;
}
.FAQ2{
    clear: left;
    width: 1200px;
    text-align: center;
    padding-top: 47px;
    padding-bottom: 92px;
}
.FAQ2 p {
    padding-bottom: 27px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.FAQ2 div{
	display:flex;
	justify-content: center;
}
.FAQ2 div button {
    width: 220px;
    height: 50px;
    line-height: 44px;
    font-size: 18px;
    font-weight: bold;
    color: #22007F;
    border-radius: 5px;
    border: 3px solid #22007F;
    background-color: #fff;
    margin: 0 10px;
    cursor: pointer;
}
.FAQ2 div button:hover{
	background-color: #22007F;
	color: #fff;
}