@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration : none;    
}
#wrapFAQ{
    width: 1200px;
    margin: 0 auto;
    padding-top: 160px;
}
.customerService{
    width: 1200px;
    height: 250px;
    background-color: #FFF092;
}
.FAQ {
    width: 1200px;
    height: 550px;
}
.FAQ h3{
    text-align: center;
    padding: 38px 0 26px 0;
}
.snb ul{
    text-align: center;
    width: 220px;
    height: 414px;
    padding: 0 30px;
    float: left;
    margin-bottom: 26px;
}
.snb ul li{
    overflow: hidden;
    padding: 13px;
}
.updown {
    border: 1px solid #D1D1D1;
    width: 0.1px;
    height: 414px;
    float: left;
}
.faqList ul{
    width: 900px;
    height: 414px;
    float: left;
    margin-left: 30px;
    margin-bottom: 26px;
    overflow: auto;  
}
.faqList ul li{
    padding: 11.5px;
}
.strong {
	font-size: 18px;
	font-weight: bold;
}