@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration : none;    
}
#wrapQnA{
    width: 1200px;
    margin: 0 auto;
}
.customerService{
    width: 1200px;
    height: 250px;
    background-color: #FFF092;
}
.customerService h3{
    text-align: center;
    padding-top: 55px;
}
.customerService p{
    text-align: center;
    font-weight: bold;
    margin-bottom: 41px;
}
.cs-search {
    width: 360px;
    height: 40px;
    border-radius: 100px;
    border: solid 3px #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    text-align: center;
    margin: 0 420px;
}
.search-bar-input {
    width: 350px;
    border: none;
    text-align: left;
    margin-left: 10px;
    overflow: auto;
    z-index: -1;
    font-size: 15px;
}
.search-bar-input:focus {
    outline: none;
    width: 350px;
    text-align: left;
}
.fa-search {
    font-size: 15px;
    color: #707070;
    padding-right: 20px;
}
.FAQ {
    width: 1200px;
    height: 700px;
}
.FAQ h3{
    text-align: center;
    padding: 38px 0 26px 0;
}
.snb ul{
    text-align: center;
    width: 220px;
    height: 414px;
    padding: 0 30px;
    float: left;
    margin-bottom: 26px;
}
.snb ul li{
    overflow: hidden;
    padding: 13px;
}
.updown {
    border: 1px solid #D1D1D1;
    width: 0.1px;
    height: 414px;
    float: left;
}
.QnA{
    float: left;
    width: 860px;
    height: 414px;
}
.cs-top h4{
    text-align: left;
    padding: 13px 0 20px 26px;
}
.cs-title ul li{
    overflow: hidden;
    padding-left: 26px;
    padding-bottom: 20px;
}
.cs-content p{
	padding-left: 26px;
	padding-bottom: 20px;
}
#btn{
    width: 89px;
    height: 30px;
    border: 3px solid #22007F;
    border-radius: 3px;
    background-color: #fff;
    color: #22007F;
    font-weight: 700;
    position:absolute;
    margin: 420px 10px 0 20px;
}