@charset "UTF-8";
#wrapNotice{
    width: 1200px;
/*     height: 750px; */
    margin: 0 auto;
    padding-top: 150px;
}
.notice-top h3{
	font-size: 20px;
	font-weight: bold;
    margin: 30px 30px 10px 30px;
    color: #22007F;
}
.notice-top p{
    font-size: 16px;
    line-height: 22px;
    margin: 0 30px 30px 30px;
    padding: 0 23px;
}
ul{
    list-style: none;
}
.notice-content{
    width: 1140px;
    min-height: 380px;
    margin-left: 30px;
}
.notice-content ul li{
    text-align: right;
    padding: 10px 30px;
}
.notice-content ul li a{
    float: left;
    text-decoration: none;
}

.page {
    margin: 0 auto;
    text-align: center; 
    width: 50%;
    margin-top: 60px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
    align-items: center;
}

.pagination li {
    display: inline;
    text-align: center;
}

.pagination a {
    float: left;
    display: block;
    text-decoration: none;
    margin: 10px;
    color: #707070;
    font-size: 16px;
    line-height: 15px;
}

.first:hover, .last:hover, .left:hover, .right:hover {
    color: #22007F;
}

.pagination a.active {
    color: #ffffff;
    background-color: #22007F;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination a:active {
    outline: none;
}
