@charset "UTF-8";
#wrapNotice{
    width: 1200px;
/*     height: 700px; */
    margin: 0 auto;
    padding-top: 150px;
}
.notice-top h3{
	font-size: 20px;
	font-weight: bold;
    margin: 30px 30px 10px 30px;
    color: #22007F;
}
.notice-top p{
    font-size: 16px;
    line-height: 22px;
    margin: 0 30px 30px 30px;
    padding: 0 23px;
}
ul{
    list-style: none;
}

.notice-board {
	width: 1140px;
    height: 380px;
    margin-left: 30px;
}

.notice-board-top{
    padding: 10px 0;
	
}
.notice-board-top .title{
    font-weight: bold;
    margin-left: 30px;
    display: inline;
}
.notice-board-top .day{
   float: right;
   padding-right: 30px;
}

.notice-board-view {
	width: 1140px;
    min-height: 338px;
}	

.notice-board-view p{
    padding: 20px 30px;
}

.notice-board-view a{
    text-decoration: none;
    margin: 0 50px;
}

input[type="button"] {
    border: 3px solid #22007F;
    border-radius: 11px;
    color: #22007F;
    background-color: #fff;
    margin-top: 70px;
    width: 100px;
    height: 40px;
    font-weight: 700;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

input[type="button"]:hover {
	color: #fff;
	background-color: #22007F;
}