<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.second.space.mapper.BoardXMLMapper">
	<select  id="getPaymentsCategory" resultType="com.second.space.board.model.PaymentsCategoryDTO">
		SELECT * FROM payments_category
	</select>
	
	<select id="getAddress" resultType="string">
		SELECT user_address FROM user_ where user_id = #{user_id}
	</select>
	
	<insert id="insertBoard" parameterType="com.second.space.board.model.BoardDTO">
		INSERT INTO board (board_id, board_title, p_category_id, board_content, board_price, board_trade_type, user_id, board_view, 
		board_date, board_delete, board_state, auction_state)
		VALUES 
		(board_board_id_seq.nextval,  #{board_title}, #{p_category_id}, #{board_content}, #{board_price}, #{board_trade_type},
		#{user_id}, 0, sysdate, 'N', 'N', 'N')
	</insert>
	
	<select id="getBoardId" resultType="_int">
		SELECT board_id FROM 
		(
			SELECT * 
			FROM board
			WHERE user_id = #{user_id}
			ORDER BY board_date DESC
		)
		WHERE ROWNUM = 1
	</select>
	
	<insert id="insertBoardImg" parameterType="com.second.space.board.model.BoardImgDTO">
		INSERT INTO board_img 
		(board_img_id, board_id, originalfilename , renamedfilename , upload_date, main_img, status) 
		VALUES
		(board_img_id_seq.nextval , 
			#{board_id}, #{originalfilename}, #{renamedfilename}, sysdate, #{main_img}, #{status})
	</insert>
	
	<select id="getBoardDto" resultType="com.second.space.board.model.BoardDTO">
		SELECT * FROM board WHERE board_id = #{board_id}
	</select>
	
	<select id="getBoardImgDto" resultType="com.second.space.board.model.BoardImgDTO" parameterType="_int">
		SELECT * FROM board_img WHERE board_id = #{board_id}
	</select>
	
	<select id="getCategoryName" parameterType="_int" resultType="string">
		SELECT p_category_name FROM payments_category WHERE p_category_id = #{p_category_id}
	</select>
	
	<select id="getUserByUserId" resultType="com.second.space.user_.model.UserDTO">
		SELECT * FROM user_ WHERE user_id = #{user_id}
	</select>
	
	<select id="getFollower" resultType="_int">
		SELECT COUNT(*) FROM follower WHERE user_id = #{user_id}
	</select>
	
	<select id="getBoardCnt" resultType="_int">
		SELECT COUNT(*) FROM board WHERE user_id = #{user_id}
	</select>
	
	<insert id="insertAcution" parameterType="com.second.space.board.model.AuctionDTO">
		INSERT INTO auction (auction_id, user_id, board_id, auction_start_date, auction_end_date, purchase_price, min_price)
		VALUES
		(auction_auction_id_seq.nextval, #{user_id}, #{board_id}, #{auction_start_date}, #{auction_end_date}, #{purchase_price}, #{min_price})
	</insert>
	
	<select id="getAuctionId" resultType="_int">
		SELECT auction_id FROM auction WHERE board_id = #{board_id}
	</select>
	
	<select id="getAuctionDTO" resultType="com.second.space.board.model.AuctionDTO">
		SELECT * FROM auction WHERE auction_id = #{auction_id}
	</select>
	
	<select id="getFollowing2" parameterType="com.second.space.board.model.FollowingDTO"  resultType="_int" >
		SELECT COUNT(*) FROM following_ WHERE user_id = #{user_id} AND user_login_id = #{user_login_id}
	</select>
	
	<insert id="insertFollowing" parameterType="com.second.space.board.model.FollowingDTO" >
		INSERT INTO following_ 
		(following_id, user_id, user_login_id)
		VALUES
		(following_following_id_seq.nextval, #{user_id} , #{user_login_id})
	</insert>
	
	<delete id="deleteFollowing" parameterType="com.second.space.board.model.FollowingDTO" >
		DELETE FROM following_ WHERE user_id = #{user_id} AND user_login_id = #{user_login_id}
	</delete>
	
	<select id="getBoardLike" parameterType="com.second.space.board.model.BoardLikeDTO" resultType="_int">
		SELECT COUNT(*) FROM board_like WHERE user_id = #{user_id} AND board_id = #{board_id}
	</select>
	
	<insert id="insertBoardLike" parameterType="com.second.space.board.model.BoardLikeDTO">
		INSERT INTO board_like
		(board_like_id, board_id, user_id)
		VALUES
		(board_like_id_seq.nextval , #{board_id}, #{user_id})
	</insert>
	
	<delete id="deleteBoardLike" parameterType="com.second.space.board.model.BoardLikeDTO">
		DELETE FROM board_like WHERE user_id = #{user_id} AND board_id = #{board_id}
	</delete>
	
	<select id="getUserIdByLoginId" resultType="_int">
		SELECT user_id FROM user_ WHERE user_login_id = #{user_login_id}
	</select>
	
	<select id="getUserLoginIdByUserId" resultType="_int">
		SELECT user_login_id FROM user_ WHERE user_id = #{user_id}
	</select>
	
	<insert id="insertFollower" parameterType="com.second.space.board.model.FollowerDTO">
		INSERT INTO follower
		(follower_id, user_id, user_login_id)
		VALUES
		(follower_follower_id_seq.nextval, #{user_id} , #{user_login_id})
	</insert>
	
	<delete id="deleteFollower"  parameterType="com.second.space.board.model.FollowerDTO">
		DELETE FROM follower WHERE user_id = #{user_id} AND user_login_id = #{user_login_id}
	</delete>
	
	<insert id="insertWinning" parameterType="com.second.space.board.model.WinningBidDTO">
		INSERT INTO winning_bid 
		(winning_id, auction_id, winning_price, board_id, winning_date, user_id, win_status)
		VALUES
		(winning_bid_winning_id_seq.nextval, #{auction_id},#{winning_price}, #{board_id}, sysdate, #{user_id}, #{win_status})
	</insert>
	
	<select id="getMaxWin" resultType="integer">
		SELECT MAX(winning_price) FROM winning_bid WHERE auction_id = #{auction_id}
	</select>

</mapper>