<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.second.space.mapper.CommunityXMLMapper">
	<!-- 유저 리스트 -->
	<select id="getUserList" resultType="com.second.space.community.model.CommunityUserDTO">
		SELECT
		    user_id,
		    user_login_id,
		    user_nickname,
		    user_gender,
		    user_name,
		    user_profile,
		    user_ban
		FROM
		    user_
	</select>
	<!-- 커뮤니티 보드 개수 -->
	<select id="getCommunityBoardCount" resultType="int">
		SELECT
			SUM(total)
		FROM
		(
			SELECT COUNT(*) AS total FROM community_board
		)
		DUAL
	</select>
	<!-- 커뮤니티 보드 리스트 -->
	<select id="getCommunityBoardList" resultType="com.second.space.community.model.CommunityBoardDTO">
		SELECT
		    community_board.c_board_id,
		    community_board.c_board_title,
		    c_category_id,
		    user_id,
		    community_category.c_category_name,
		    community_board.c_board_content,
		    community_board.c_board_img,
		    community_board.c_board_view,
		    community_board.c_board_date,
		    community_board.c_board_delete,
		    user_.user_nickname
		FROM
		    community_board
		    INNER JOIN community_category USING (c_category_id)
		    INNER JOIN user_ USING (user_id)
		WHERE user_address = #{user_address}
		ORDER BY c_board_date DESC
	</select>
	<!-- 커뮤니티 보드 검색 리스트 -->
	<select id="getCommunitySearchList" parameterType="String">
		SELECT
		    community_board.c_board_id,
		    community_board.c_board_title,
		    c_category_id,
		    user_id,
		    community_category.c_category_name,
		    community_board.c_board_content,
		    community_board.c_board_img,
		    community_board.c_board_view,
		    community_board.c_board_date,
		    community_board.c_board_delete,
		    user_.user_nickname
		FROM
		    community_board
		    INNER JOIN community_category USING (c_category_id)
		    INNER JOIN user_ USING (user_id)
		WHERE user_address = '경기도 구리시' and c_board_title like '%#{keyword}%'
		ORDER BY c_board_date DESC
	</select>
	<!-- 커뮤니티 카테고리 리스트 -->
	<select id="getCommunityCategoryList" resultType="com.second.space.community.model.CommunityCategoryDTO">
		SELECT * FROM community_category
	</select>
	<!-- 커뮤니티 조회수 업데이트 -->
	<update id="communityBoardViewCount">
		UPDATE
			community_board
		SET
			c_board_view = c_board_view + 1
		WHERE
			c_board_id = #{c_board_id}
	</update>
	<!-- 커뮤니티 댓글 꺼내기 -->
	<select id="getCommunityComment" resultType="com.second.space.community.model.CommunityCommentDTO">
		SELECT * from community_comment WHERE c_id=#{c_id}
	</select>
	<!-- 커뮤니티 댓글 리스트 -->
	<select id="getCommunityCommentList" resultType="com.second.space.community.model.CommunityCommentDTO">
		SELECT
		    c_id,
		    c_board_id,
		    c_depth,
		    c_group_id,
		    c_group_order_id,
		    c_content,
		    user_id,
		    c_delete,
		    c_date,
		    c_icon_name,
		    user_nickname
		FROM
		    community_comment
		    INNER JOIN user_ USING (user_id)
		ORDER BY c_date DESC
	</select>
	<!-- 커뮤니티 댓글 개수 -->
	<select id="getCommunityCommentCount" resultType="com.second.space.community.model.CommunityCommentCountDTO">
		SELECT c_board_id, count(*) AS total from community_comment GROUP BY c_board_id
	</select>
	<!-- 커뮤니티 댓글쓰기 -->
	<insert id="addCommunityComment">
		<selectKey keyProperty="c_id" order="BEFORE" resultType="int">
			SELECT community_c_c_id_seq.nextval FROM dual
		</selectKey>
		INSERT INTO
			community_comment(c_id, c_board_id, c_content, user_id, c_delete)
		VALUES
			(
				#{c_id}, #{c_board_id}, #{c_content}, #{user_id}, 'N'
			)
	</insert>
	<!-- 커뮤니티 대댓글쓰기 -->
	<insert id="addCommunityCommentReply">
		<selectKey keyProperty="c_id" order="BEFORE" resultType="int">
			SELECT community_c_c_id_seq.nextval FROM dual
		</selectKey>
		INSERT INTO
			community_comment(c_id, c_board_id, c_depth, c_group_id, c_group_order_id, c_content, user_id, c_delete)
		VALUES
			(
				#{c_id}, #{c_board_id}, #{c_depth}, #{c_group_id}, #{c_group_order_id}, #{c_content}, #{user_id}, 'N'
			)
	</insert>
	<!-- 게시물 신고하기 -->
	<insert id="addNotificationBoard">
		<selectKey keyProperty="n_id" order="BEFORE" resultType="int">
			SELECT noti_board_n_id_seq.nextval FROM dual
		</selectKey>
		INSERT INTO
			notification_board(n_id, c_board_id, user_id, nfc_id, n_content)
		VALUES
			(
				#{n_id}, #{c_board_id}, #{user_id}, #{nfc_id}, #{n_content}
			)
	</insert>
	<!-- 게시물 신고글 꺼내기 -->
	<select id="getNotificationBoard" resultType="com.second.space.admin.model.Notification_boardDTO">
		SELECT * from notification_board WHERE n_id=#{n_id}
	</select>
	<!-- 댓글 신고하기 -->
	<insert id="addNotificationCmt">
		<selectKey keyProperty="nc_id" order="BEFORE" resultType="int">
			SELECT noti_comment_nc_id_seq.nextval FROM dual
		</selectKey>
		INSERT INTO
			notification_cmt(nc_id, c_board_id, c_id, user_id, nc_content, nfc_id)
		VALUES
			(
				#{nc_id}, #{c_board_id}, #{c_id}, #{user_id}, #{nc_content}, #{nfc_id}
			)
	</insert>
	<!-- 댓글 신고글 꺼내기 -->
	<select id="getNotificationCmt" resultType="com.second.space.admin.model.Notification_cmtDTO">
		SELECT * from notification_cmt WHERE nc_id=#{nc_id}
	</select>
	<!-- 커뮤니티 게시글 쓰기 -->
	<insert id="addCommunityBoard" parameterType="com.second.space.community.model.CommunityBoardDTO">
		INSERT INTO
			community_board (c_board_id, c_board_title, c_category_id, c_board_content, user_id)
		VALUES 
			(
				community_board_id_seq.nextval, #{c_board_title}, #{c_category_id}, #{c_board_content}, #{user_id}
			)
	</insert>
	<!-- 커뮤니티 가장 최근 c_board_id GET -->
	<select id="getCommunityBoardId" resultType="_int">
		SELECT c_board_id FROM 
			(
				SELECT * 
				FROM community_board
				WHERE user_id = #{user_id}
				ORDER BY c_board_date DESC
			)
		WHERE ROWNUM = 1
	</select>
	<!-- 커뮤니티 보드 image 넣기 -->
	<insert id="addCommunityBoardImg" parameterType="com.second.space.community.model.CommunityBoardImgDTO">
		INSERT INTO
			community_board_img (c_board_img_id, c_board_id, c_originalfilename , c_renamedfilename) 
		VALUES
			(
				c_board_img_id_seq.nextval, #{c_board_id}, #{c_originalfilename}, #{c_renamedfilename}
			)
	</insert>
	<!-- 커뮤니티 보드 image 꺼내기 -->
	<select id="getCommunityBoardImgList" resultType="com.second.space.community.model.CommunityBoardImgDTO">
		SELECT
		    c_board_img_id,
		    c_board_id,
		    c_originalfilename,
		    c_renamedfilename,
		    c_upload_date
		FROM
		    community_board_img
		ORDER BY c_board_img_id
	</select>
</mapper>