<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.second.space.mapper.CommunityXMLMapper">
	<!-- ex)
	<select id="getAllNotificationCount" resultType="int">
		SELECT
			SUM(total)
		FROM
		(
			SELECT COUNT(*) AS total FROM notification_board
			UNION ALL
			SELECT COUNT(*) AS total FROM notification_cmt
			UNION ALL
			SELECT COUNT(*) AS total FROM notification_review
		)
		DUAL
	</select>
	 -->
	<!-- 커뮤니티 보드 개수 -->
	<select id="getCommunityBoardCount" resultType="int">
		SELECT
			SUM(total)
		FROM
		(
			SELECT COUNT(*) AS total FROM community_board
		)
		DUAL
	</select>
	<!-- 커뮤니티 보드 리스트 -->
	<select id="getCommunityBoardList" resultType="com.second.space.community.model.CommunityBoardDTO">
		SELECT
		    community_board.c_board_id,
		    community_board.c_board_title,
		    c_category_id,
		    user_id,
		    community_category.c_category_name,
		    community_board.c_board_content,
		    community_board.c_board_img,
		    community_board.c_board_view,
		    community_board.c_board_date,
		    community_board.c_board_delete,
		    user_.user_nickname
		FROM
		    community_board
		    INNER JOIN community_category USING (c_category_id)
		    INNER JOIN user_ USING (user_id)
	</select>
	<!-- 커뮤니티 카테고리 리스트 -->
	<select id="getCommunityCategoryList" resultType="com.second.space.community.model.CommunityCategoryDTO">
		SELECT * FROM community_category
	</select>
	<!-- 커뮤니티 댓글 리스트 -->
	<select id="getCommunityCommentList" resultType="com.second.space.community.model.CommunityCommentDTO">
		SELECT
		    c_id,
		    c_board_id,
		    c_depth,
		    c_group_id,
		    c_group_order_id,
		    c_content,
		    user_id,
		    c_delete,
		    c_date,
		    c_icon_name,
		    user_nickname
		FROM
		    community_comment
		    INNER JOIN user_ USING (user_id)
	</select>
	<!-- 커뮤니티 댓글 개수 -->
	<select id="getCommunityCommentCount" resultType="com.second.space.community.model.CommunityCommentCountDTO">
		SELECT c_board_id, count(*) AS total from community_comment GROUP BY c_board_id
	</select>
	<!-- 커뮤니티 댓글쓰기 -->
	<insert id="addCommunityComment">
		INSERT INTO
			community_comment(c_board_id, c_content, user_id, c_delete)
		VALUES
			(
				#{c_board_id}, #{c_content}, #{user_id}, 'n'
			)
	</insert>
</mapper>