<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.second.space.mapper.MySpaceXMLMapper">
	
	<!-- 유저 정보 -->
	<select id="getUserInfo" resultType="com.second.space.mySpace.model.InfoDTO">
		SELECT
			t.*, (SELECT TRUNC(AVG(NVL(stars, 0))) FROM review r, board b WHERE r.board_id = b.board_id AND b.user_id = #{user_id}) stars
		FROM
			user_ t
		WHERE
			user_id = #{user_id}
	</select>
	
	<!-- 유저 판매글 정보 리스트 -->
	<select id="getBoardInfoList" resultType="com.second.space.mySpace.model.BoardInfoDTO">
		SELECT
			*
		FROM(
			SELECT
				ROWNUM rn, t.*
			FROM(
				SELECT
					*
				FROM
					board INNER JOIN board_img USING(board_id) INNER JOIN user_ USING(user_id)
				WHERE
					user_id = #{user_id} AND main_img = 'Y'
				ORDER BY
					board_date DESC
			) t
		)
		<![CDATA[
        WHERE
        	rn > (#{pageNum}-1) * #{amount} AND rn <= #{pageNum} * #{amount}
   		]]>
	</select>
	
	<!-- 유저 판매글 정보 리스트 총 갯수 -->
	<select id="getBoardInfoCount" resultType="int">
		SELECT COUNT(*) FROM board WHERE user_id = #{user_id}
	</select>
	
	<!-- 거래 후기 리스트 -->
	<select id="getReviewInfoList" resultType="com.second.space.mySpace.model.ReviewInfoDTO">
		SELECT
		    *
		FROM(
		    SELECT
		        ROWNUM rn, t.*
		    FROM(
		        SELECT
		            r.board_id, u.user_nickname, u.user_profile, r.stars, r.review_content, r.review_date
		        FROM
		            review r, board b, user_ u
		        WHERE
		            r.board_id = b.board_id AND r.user_id = u.user_id AND b.user_id = #{user_id}
		        ORDER BY
		            review_date DESC
		    ) t
		)
	    <![CDATA[
        WHERE
        	rn > (#{pageNum}-1) * #{amount} AND rn <= #{pageNum} * #{amount}
   		]]>
	</select>
	
	<!-- 거래 후기 리스트 총 갯수 -->
	<select id="getReviewInfoCount" resultType="int">
		SELECT COUNT(*) FROM review r, board b, user_ u WHERE r.board_id = b.board_id AND r.user_id = u.user_id AND b.user_id = #{user_id}
	</select>
	
	<!-- 찜한 상품 리스트 -->
	<select id="getLikeInfoList" resultType="com.second.space.mySpace.model.LikeInfoDTO">
		SELECT
		    *
		FROM(
		    SELECT
		        ROWNUM rn, t.*
		    FROM(
		        SELECT
		            bl.board_like_id, bl.board_id, b.board_title, b.board_price, u.user_address, bi.renamedfilename
		        FROM
		            board b, board_like bl, board_img bi, user_ u
		        WHERE
		            b.board_id = bl.board_id AND b.board_id = bi.board_id AND b.user_id = u.user_id AND bl.user_id = #{user_id} AND main_img = 'Y'
		    ) t
		)
		<![CDATA[
        WHERE
        	rn > (#{pageNum}-1) * #{amount} AND rn <= #{pageNum} * #{amount}
   		]]>
	</select>
	
	<!-- 찜한 상품 리스트 총 갯수 -->
	<select id="getLikeInfoCount" resultType="int">
		SELECT COUNT(*) FROM board_like WHERE user_id = #{user_id}
	</select>
	
	<!-- 찜한 상품 삭제 -->
	<delete id="deleteLike">
		DELETE FROM board_like WHERE board_like_id = #{board_like_id}
	</delete>
	
	<!-- 팔로잉 리스트 -->
	<select id="getFollowingList" resultType="com.second.space.mySpace.model.FollowInfoDTO">
		SELECT
		    *
		FROM(
		    SELECT
		        ROWNUM rn, t.*
		    FROM(
		        SELECT
		            f.following_id, u.user_nickname, u.user_login_id, f.user_id, u.user_profile, COUNT(board_id) cnt
		        FROM
		            user_ u, following_ f, board b
		        WHERE
		            f.user_login_id = u.user_login_id AND b.user_id(+) = u.user_id AND f.user_id = #{user_id}
		        GROUP BY
		            f.user_login_id, f.following_id, u.user_nickname, u.user_login_id, u.user_profile, f.user_id
		        ORDER BY
		        	u.user_nickname
		    ) t
		)
		<![CDATA[
        WHERE
        	rn > (#{pageNum}-1) * #{amount} AND rn <= #{pageNum} * #{amount}
   		]]>
	</select>
	
	<!-- 팔로잉 리스트 총 갯수 -->
	<select id="getFollowingCount" resultType="int">
		SELECT COUNT(*) FROM following_ WHERE user_id = #{user_id}
	</select>
	
	<!-- 팔로잉 삭제 -->
	<delete id="deleteFollowing">
		DELETE FROM following_ WHERE user_id = #{user_id} AND user_login_id = #{user_login_id}
	</delete>
	
	<!-- 팔로워 리스트 -->
	<select id="getFollowerList" resultType="com.second.space.mySpace.model.FollowInfoDTO">
		SELECT
		    *
		FROM(
		    SELECT
		        ROWNUM rn, t.*
		    FROM(
		        SELECT
		            f.following_id, u.user_nickname, u.user_id, f.user_login_id, u.user_profile, COUNT(board_id) cnt
		        FROM
		            user_ u, following_ f, board b
		        WHERE
		            b.user_id(+) = f.user_id AND f.user_id = u.user_id AND f.user_login_id = #{user_id}
		        GROUP BY
		            f.following_id, u.user_nickname, u.user_id, u.user_profile, f.user_login_id
	            ORDER BY
		        	u.user_nickname
		    ) t
		)
		<![CDATA[
        WHERE
        	rn > (#{pageNum}-1) * #{amount} AND rn <= #{pageNum} * #{amount}
   		]]>
	</select>
	
	<!-- 팔로워 리스트 총 갯수 -->
	<select id="getFollowerCount" resultType="int">
		SELECT COUNT(*) FROM following_ WHERE user_login_id = #{user_id}
	</select>
	
	<!-- 팔로워 리스트 팔로잉 확인 -->
	<select id="getFollowerCheck" resultType="java.lang.Integer">
		SELECT user_login_id FROM following_ WHERE user_id = #{user_id}
	</select>

	<!-- 팔로잉 추가 -->
	<insert id="insertFollowing">
		INSERT INTO following_ VALUES(FOLLOWING_FOLLOWING_ID_SEQ.nextval, #{user_id}, #{user_login_id})
	</insert>

</mapper>















